@{
    ViewBag.Title = "About";
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />

}
<h2 style="font-size:30px;">@ViewBag.Title:</h2>
<h3 class="text" style="font-size:20px;">@ViewBag.Message</h3>


