
@{
    ViewBag.Title = "CreateJob";
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
}
<div class="container" style="font-size:20px;">
    <div class="center">
        <p style="font-size:20px;">
            What do you want to do?
        </p>
        <br />
        <br />

        <a href="~/Home/GetJobsByBublisher" class="btn btn-info btn-block " style="font-size:20px;"> People Applied For Your Job</a>
        
       
   
     <a href="~/JobDetails1/Create" class="btn btn-info btn-block " style="font-size:20px;">Create New Job</a>
        
        <hr />
          <a href="~/Account/EditeProfile" class="btn btn-primary btn-block" style="font-size:20px;"> Edit Account</a>
    </div>
    </div>