
@{
    ViewBag.Title = "SerachForJob";
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
}


    <div class="container">
        <div class="center">

            <p style="font-size:20px;">
                What do you want to do?
            </p>
            <hr />
        <a href="~/Home/GetJobByUser" class="btn btn-success btn-block" style="width:200px; height:40px; font-size:20px;">Jobs I Signed In</a>
<br />
            

     
               <a href="~/Account/EditeProfile" class="btn btn-primary btn-block" style="width:200px; height:40px; font-size:20px;"> Edit Account</a>
    </div>
</div>


